<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <!--HEADER-->
    <header>
        
        <!--Genero una primera seccion dentro del header-->
        <section class="main-header-top-bar">
            <!--Genero el Logo-->
            <img src="img/logo-mercado-liebre.svg" alt="logo" class="logo">

            <!--Genero search bar o barra de busqueda-->
            <form action="/barra-busqueda" method="GET" class="searchbar">
                    <input type="text" placeholder="Buscar productos, marcas" class="form-busqueda" > 
                    <a href="/busqueda-productos"><i class="fas fa-search lupa"></i></a>
            </form>
            
            <!--Genero leyenda de compra con TdC-->
            <p class='compraCuotas'><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
        </section>

        <!--Genero una segunda seccion dentro del header con las barras de navegacion-->
        <nav class="main-header-bottom-bar">
            <!--Genero las barras de navegacion-->
            <nav class="navbar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            
            <!--Genero login bar o barra de inicio-->
            <nav class="loginbar">
                <ul>
                    <li><a href="/register">Crea tu Cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Usuario </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>

            <nav class="burger-menu">
                <i class="fas fa-bars"></i>
            </nav>
        </nav>

        <!--Genero banner-->
        <img src="img/img-home-banner.jpg" alt="banner" class="banner">
        
    </header>
    
    <!--MAIN-->
    <main class="main">
        <!--Seccion 1-->
        <section>
            <h2 class='titular'>Basado en tu ultima Visita</h2>
                <section class="lista-articulos">
                    <section class="articulo1">
                        <img src="img/img-cafetera-moulinex.jpg" alt="cafetera" class="articulo">
                        <article class="producto">
                            <i class="fas fa-truck"></i>
                            <p class="precio"> $6.770 </p>
                            <p class="descuento"> 40% off </p>
                            <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
                        </article>
                    </section>

                    <section class="articulo2">
                        <img src="img/img-macbook-pro-2019.jpg" alt="Macbook" class="articulo">
                        <article class="producto">
                            <i class="fas fa-truck"></i>
                            <p class="precio"> $230.000 </p>
                            <p class="descuento"> 20% off </p>
                            <p class="descripcion"><strong>MacBook Pro 2019</strong></p>
                        </article>
                    </section>  

                    <section class="articulo3">
                        <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy 10" class="articulo">
                        <article class="producto">
                            <i class="fas fa-truck"></i>
                            <p class="precio"> $70.500 </p>
                            <p class="descuento">10% off</p>
                            <p class="descripcion"><strong>Samsung Galaxy S10</strong></p>
                        </article>
                    </section>

                    <section class="articulo4">
                        <img src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="articulo">
                        <article class="producto"> 
                            <i class="fas fa-truck"></i>
                            <p class="precio"> $23.200 </p>
                            <p class="descuento">5% off </p>
                            <p class="descripcion"><strong>SmartTv Samsung 43"</strong></p> 
                        </article>  
                    </section>
                </section>   
        </section>

        <!--Seccion 2-->
        <section>
            <h2 class='titular'>Ofertas</h2>
            
            <section class="lista-articulos">
                <section class="articulo1">
                    <img src="img/img-cafetera-moulinex.jpg" alt="cafetera" class="articulo">
                    <article class="producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $6.770 </p>
                        <p class="descuento"> 40% off </p>
                        <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
                    </article>
                </section>

                <section class="articulo2">
                    <img src="img/img-macbook-pro-2019.jpg" alt="Macbook" class="articulo">
                    <article class="producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $230.000 </p>
                        <p class="descuento"> 20% off </p>
                        <p class="descripcion"><strong>MacBook Pro 2019</strong></p>
                    </article>
                </section>  

                <section class="articulo3">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy 10" class="articulo">
                    <article class="producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $70.500 </p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion"><strong>Samsung Galaxy S10</strong></p>
                    </article>
                </section>

                <section class="articulo4">
                    <img src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="articulo">
                    <article class="producto"> 
                        <i class="fas fa-truck"></i>
                        <p class="precio"> $23.200 </p>
                        <p class="descuento">5% off </p>
                        <p class="descripcion"><strong>SmartTv Samsung 43"</strong></p> 
                    </article>  
                </section>
            </section>   
        </section>        
    </main>

    <!--FOOTER-->
    <footer class="flex-footer">
        <article class="footer-item">
            <h1 class='icono'><i class="fas fa-credit-card"></i></h1>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p> Consulta con nuestros vendedores por medios de pago vigentes. Hasta 6 cuotas sin interes
                con tarjetas Maestro, Visa y Mastercard.</p>
        </article>
        
        <article class="footer-item">
            <h1 class='icono'><i class="fas fa-gift"></i></h1>
            <h2>Envíos a todo el país</h2>
            <p>Envíos gratis dentro de Chajarí. Consulta precios de envíos puerta a puerta a todas las
                localidades del país.</p>
        </article>
        
        <article class="footer-item">
            <h1 class='icono'><i class="fas fa-user-shield"></i></h1>
            <h2>Garantías en todos los Productos</h2>
            <p>Todos nuestros productos cuentan con una garantía extendida de 2 años por parte
                de los fabricantes.</p>
        </article>    

        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.<p>
        </article>   
    </footer>
</body>
</html>