/*--- Estilos Generales del Formulario ---*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/*-----MAIN-----*/
form{
    width: 60vw;
    background-color: #ebebeb;
    border-radius: 1%;
    margin: 20px auto;
}

legend{
    font-weight: bold;
    font-size: 24px;
    color: #03264C;
}

.formulario-de-registro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: #ebebeb 2px solid;
}

/*--- Estilos de las Preguntas del formulario ---*/
.preguntas-formulario{
    font-size: 16px;
    color: #03264C;
    padding-bottom: 5px;
    padding-top: 5px
}

fieldset label {
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
}

fieldset label input {
    width: 90%;
    margin: auto;
    border: none;
    border-radius: 5%;
    padding: 8px 5px;
    font-size: 12px;
}

/*-----Estilos de los Botones -----*/
fieldset button {
    margin: 5px auto;
    width: 100px;
    padding: 5px;
    background-color: #1259c3;
    color: white;
    border-radius: 8%;
    border: none;
}

a{
    text-decoration: none;
    color: white;
}

/*--- Estilos de los Radio Buttons de Perfil de Usuario ---*/
.peril-usuario{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #03264C;
    font-size: 10px;
    align-items: flex-start;
}

.opciones-checkbox{
    width: 50%;
    margin-bottom: 10px;
}

/*--- Estilos de los Checkboxes de Perfil de Categorias de Interes ---*/

.categorias-de-interes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #03264C;
    font-size: 12px;
    align-items: flex-start;
}

.opciones-intereses{
    margin-left: 25px;
}
